<!-- PRELOADER                                 -->
	<div id="preloader" class="preloader">
		<div class="loader-cube">
			<div class="loader-cube__item1 loader-cube__item"></div>
			<div class="loader-cube__item2 loader-cube__item"></div>
			<div class="loader-cube__item4 loader-cube__item"></div>
			<div class="loader-cube__item3 loader-cube__item"></div>
		</div>
	</div>

<header class="main-header">
			<!-- Start Navbar -->
			<div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    	<a class="navbar-brand t-uppercase" href="index-2.html">Gabriel <span class="color-green">Arzola</span></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right centro">
                            <li class="active"><a class="page-scroll" routerLink="/home" title="Home">Inicio</a></li>
                            <li><a class="page-scroll" href="#habilidades" title="Experiences">Habilidades</a></li>
                            <li><a class="page-scroll" href="#experience_area" title="Experiences">Experiencia</a></li>
                            <li><a class="page-scroll" href="#education_area" title="Education">Educacion</a></li>
                            <li class="dropdown">
                                <a routerLink="/peliculas" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Peliculas</a>
                            </li>
                            <li><a class="page-scroll" href="#contacto" title="Contact Us">Contacto</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <!-- End Navbar -->
        </header>