<div id="pageWrapper" class="page-wrapper">

		<!-- –––––––––––––––[ CONTENT ]––––––––––––––– -->
		<main id="mainContent" class="main-content">
			<div class="page-container">

	            <section class="section hero-area t-center parallax" id="home" data-bg-img="./assets/libs/img/write.jpg">
		            <div class="container">
			            <div class="hero-content mb-30">
			            	<h2>Hola! Soy</h2>
							<h1 class="mb-10 font-50">Gabriel Arzola</h1>
							<h3><span class="typed-text" data-text1="Programador" data-text2="Diseñador de productos digitales" data-text3="Scrum Master" data-loop="true" data-backdelay="3000"></span></h3>
						</div>
						<div class="hero-buttons mb-40">
							<button class="btn btn-lg btn-rounded hire-me-btn page-scroll"><a class="page-scroll color-white" href="#contacto">Contactame</a></button>
						</div>
					</div>
	            </section>
	            

				<section class="wow fadeInLeft" data-wow-delay="0.4s" style="background-color:#f5f5f5 ;">
					<div class="container pt-50 ">
						<div class="row">
	                        <div class="col-md-4">
	                        	<div class="profile-img mb-15 contenedor " >
	                            	<img src="./assets/libs/img/yo.jpg" alt="" class="imagen">
	                            </div>
	                        </div>
	                        <div class="col-md-8">
		                        <div class="profile-info">
		                            <div class="profile-title mb-20">
		                                <h1 class="h3 pb-15">Sobre mi</h1>
		                            </div>
	                                <p class="color-mid">Me considero una persona emprendedora, estudiosa y apasionada por lo que hago. En lo personal me gusta hacer deportes para recrearme. En lo profesional me gusta estudiar sobre tecnología, para crecer como programador y poder brindar un excelente servicio. Soy "tecnologo de nacimiento", también me considero un soñador y he encontrado en el emprendimiento, un mundo fascinante donde encuentras ideas geniales y personas brillantes, si lo unimos con el desarrollo de software se podría hablar del dúo inseparable.</p>
		                            <ul class="col-md-12 profile-info-list color-mid mb-30">
		                                <li><span>Nombre : </span>Gabriel Arzola</li>
		                                <li><span>Edad : </span>25 años</li>
		                                <li><span>Email : </span>gabrielgac75@gmail.com</li>
		                                <li><span>Telefono : </span>+58 0412-724-3202</li>
		                                <li><span>Skype : </span>gabriel_isaias</li>
		                                
		                            </ul>
		                            <div class="row">
		                            	<!--div class="col-md-3"><a href="./assets/libs/img/Curriculum_Gabriel_Arzola.pdf" target="_blank" class=""><img src="./assets/libs/iconos/curriculum.svg" alt="" width="50"> Ver Curriculum</a></div-->
			                            <div class="col-md-1 centro" style="margin-left: 2%;">
			                            	<a href="https://www.linkedin.com/in/gabrielarzola-programador/" target="_blank" class="icon-linkedin" style="font-size: 40px;"></a>
			                            </div>
		                            </div>
		                            
		                            
		                            
		                            
		                        </div>
	                        </div>
	                    </div>
                    </div>
	            </section>
	            <!-- End About Me Area -->

				<!-- Start My Skills Area -->
				<section class="section my-skills-area clearfix pb-30" id="habilidades">
					<div class="container">
						<div class="row pb-60 wow fadeInLeft" data-wow-delay="0.4s" style="padding: 3%; visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
	                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center">
	                            <h2 class="mb-20 font-24 t-uppercase" data-wow-delay="0.4s">Mis habilidades</h2>
	                            <p class="color-mid">Estas son algunas referencias de las habilidades que he adquirido durante el tiempo que tengo en el area de programacion</p>
	                        </div>
	                    </div>
						<div class="row row-tb-15">
		                    <ul class="skills-list col-md-6 wow fadeInLeftBig" data-wow-delay="0.3s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInLeftBig;">
		                    <h2 class="mb-20 font-24 t-uppercase text-center">Front-End</h2>
		                        <li>
		                        	<div class="row centro">
		                        		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		                        			<img src="./assets/libs/iconos/HTML5.svg" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-xs-12 col-md-10">
		                        			<h6>HTML 5 / CSS3 / JAVASCRIPT</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="80" style="transition: width 3s ease 0s; width: 80%;"><span class="progress-tooltip" style="opacity: 1;">80 %</span></div>
				                            </div>
		                        		</div>
		                        	</div>
		                        </li>
		                        <!-- <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/CSS3.svg" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>CSS 3</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="60"></div>
				                            </div>
		                        		</div>
		                        	</div> 
		                            
		                        </li> -->
		                       <!--  <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/javascript.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>Javascript</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="60"></div>
				                            </div>
		                        		</div>
		                        	</div> 
		                            
		                        </li> -->
		                        <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/bootstap.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>Bootstrap / Materialize</h6>
		                            <div class="skill-progress">
		                                <div class="skill-percentage" data-percent="75" style="transition: width 3s ease 0s; width: 75%;"><span class="progress-tooltip" style="opacity: 1;">75 %</span></div>
		                            </div>
		                        		</div>
		                        </div> 
		                            
		                        </li>
		                        <!-- <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/materialize.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>Materialize</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="60"></div>
				                            </div>
		                        		</div>
		                        	</div>  
		                            
		                        </li> -->
		                        <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/angularjs.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>AngularJs / Angular 4</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="60" style="transition: width 3s ease 0s; width: 60%;"><span class="progress-tooltip" style="opacity: 1;">60 %</span></div>
				                            </div>
		                        		</div>
		                        </div> 
		                            
		                        </li>

		                        <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/UX.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>UX / UI</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="60" style="transition: width 3s ease 0s; width: 60%;"><span class="progress-tooltip" style="opacity: 1;">60 %</span></div>
				                            </div>
		                        		</div>
		                        	</div>  
		                            
		                        </li>
		                        <li>
		                         <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/SEO.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>SEO </h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="70" style="transition: width 3s ease 0s; width: 70%;"><span class="progress-tooltip" style="opacity: 1;">70 %</span></div>
				                            </div>
		                        		</div>
		                        	</div> 
		                            
		                        </li>
		                        
		                    </ul>
		                    <ul class="skills-list col-md-6 wow fadeInRightBig" data-wow-delay="0.3s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRightBig;">

		                    <h2 class="mb-20 font-24 t-uppercase text-center">Back-End</h2>
		                        <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/php.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>PHP</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="80" style="transition: width 3s ease 0s; width: 80%;"><span class="progress-tooltip" style="opacity: 1;">80 %</span></div>
				                            </div>
		                        		</div>
		                        </div> 
		                            
		                        </li>
		                        <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/symfony2.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>Symfony</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="50" style="transition: width 3s ease 0s; width: 50%;"><span class="progress-tooltip" style="opacity: 1;">50 %</span></div>
				                            </div>
		                        		</div>
		                        </div>  
		                            
		                        </li>
		                        <!-- <li>
		                        <div class="row centro">
		                        		<div class="col-sm-2 col-md-2">
		                        			<img src="./assets/libs/iconos/codeigniter.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>Codeigniter</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="50"></div>
				                            </div>
		                        		</div>
		                        </div> 
		                            
		                        </li> -->
		                        <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/mysql2.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>Mysql / PostgreSQl</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="65" style="transition: width 3s ease 0s; width: 65%;"><span class="progress-tooltip" style="opacity: 1;">65 %</span></div>
				                            </div>
		                        		</div>
		                        </div> 
		                            
		                        </li>
		                        <li>
		                        <!-- <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/POSTGRES1.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>PostgreSQl</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="70"></div>
				                            </div>
		                        		</div>
		                        </div> --> 
		                            
		                        </li>
		                        <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/nodejs.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>Node</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="40" style="transition: width 3s ease 0s; width: 40%;"><span class="progress-tooltip" style="opacity: 1;">40 %</span></div>
				                            </div>
		                        		</div>
		                        </div>
		                            
		                        </li>
		                        <li>
		                        <div class="row centro">
		                        		<div class="col-md-2">
		                        			<img src="./assets/libs/iconos/java2.png" alt="HTML5" width="50" height="50">	
		                        		</div>
		                        		<div class="col-md-10">
		                        			<h6>Java</h6>
				                            <div class="skill-progress">
				                                <div class="skill-percentage" data-percent="30" style="transition: width 3s ease 0s; width: 30%;"><span class="progress-tooltip" style="opacity: 1;">30 %</span></div>
				                            </div>
		                        		</div>
		                        </div>

		                            
		                        </li>

		                    </ul>

							<div class="row">
							  <div class="col-md-8 col-md-offset-4">
							  	<ul class="skills-list col-md-6 col-lg-6 offset-md-2 offset-lg-2">

				                    <h2 class="mb-20 font-24 t-uppercase text-center">Mobile Developer</h2>
				                    <li> 
				                        <div class="row centro">
				                        	<div class="col-md-2">
				                        		<img src="./assets/libs/img/ionic_logo.svg" width="50" height="50">	
				                        	</div>
				                        	<div class="col-md-10">
				                        		<h6>IONIC 3</h6>
						                        <div class="skill-progress">
						                            <div class="skill-percentage" data-percent="70" style="transition: width 3s ease 0s; width: 70%;"><span class="progress-tooltip" style="opacity: 1;">70 %</span></div>
						                        </div>
				                        	</div>
				                        </div>
				                    </li>
				                    <li> 
				                        <div class="row centro">
				                        	<div class="col-md-2">
				                        			<img src="./assets/libs/img/swift_lang.png" alt="HTML5" width="50" height="50">	
				                        	</div>
				                        	<div class="col-md-10">
				                        		<h6>Swift</h6>
						                        <div class="skill-progress">
						                           <div class="skill-percentage" data-percent="40" style="transition: width 3s ease 0s; width: 40%;"><span class="progress-tooltip" style="opacity: 1;">40 %</span></div>
						                        </div>
				                        	</div>
				                        </div>
				                    </li>
				                </ul>
							  </div>
							</div>
		                    
		                </div>
	                </div>
            	</section>
            	<!-- End My Skills Area -->

	            <!-- Start Get Quote Area --> 
	            <section class="section get-quote-area ptb-80 parallax2">
	                <div class="row">
	                    <div class="col-md-12 verlink wow zoomIn" data-wow-delay="0.3s" data-wow-duration="1s">
	                        <div class="get-quotes-content text-center color-white row ">
	                        	<div class="col-lg-7 col-md-8 col-sm-10 col-xs-center ">
		                           	<h2 class="mb-20 t-uppercase">Trabajemos por tu idea</h2>
		                            <h6 class="mb-40">Todos tenemos una idea de negocio la cual queremos llevar a cabo, trabajemos juntos para encontrar la mejor manera de realizarla, Tu pones la idea, Yo el codigo!.</h6>
		              
		                        </div>
	                        </div>
	                    </div>
	                </div>
		        </section>
	            <!-- End Get Quote Area -->

	            <!-- Start Experience Area -->
	            <section class="section experience-area ptb-60" id="experience_area">
	                <div class="container wow fadeInLeft" data-wow-delay="1s">
	                    <div class="row mb-20">
	                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center mb-40 " >
	                            <h2 class="mb-20 font-24 t-uppercase">Experiencia de trabajo</h2>
	                            <p class="color-mid">Mi experiencia de trabajo como desarrollador en distintos entes del estado y empresas privadas</p>
	                        </div>
	                    </div>
	                    <div class="row row-tb-15">
	                    	<div class="col-md-6">
	                    		<div class="experience-single">
	                    			<img class="experience-img" src="./assets/libs/img/dategeek.jpg" alt="">
	                    			<div class="experience-content">
	                    				
	                    				<h6 class="t-uppercase mb-10">DateGeekGroup</h6>
	                    				<p class="color-mid">Empresa enfocada al desarrollo web y aplicaciones móviles</p>
	                    				
	                    			</div>
	                    		</div>
	                    	</div>
	                    	<div class="col-md-6">
	                    		<div class="experience-single">
	                    			<img class="experience-img" src="./assets/libs/img/senades_logo_solo.png" alt="">
	                    			<div class="experience-content">
	                    				<h6 class="t-uppercase mb-10">Senades</h6>
	                    				<p class="color-mid">Servicio Nacional para el Desarme en Venezuela</p>
	                    				
	                    			</div>
	                    		</div>
	                    	</div>
	                    	<div class="col-md-6">
	                    		<div class="experience-single">
	                    			<img class="experience-img" src="./assets/libs/img/mirak-logo.png" alt="" style="width:90px ; height: 70px; ">
	                    			<div class="experience-content">
	                    				<h6 class="t-uppercase mb-10">Mirak</h6>
	                    				<p class="color-mid">Empresa enfocada al desarrollo Web</p>
	                    				
	                    			</div>
	                    		</div>
	                    	</div>
	                    	<div class="col-md-6">
	                    		<a href="http://www.itssca.net/" target="_black">
		                    		<div class="experience-single">
		                    			<img class="experience-img" src="./assets/libs/img/logo_it_security.png" style="width: 90px; height: 60px;" alt="">
		                    			<div class="experience-content">
		                    				<h6 class="t-uppercase mb-10">Itssca</h6>
		                    				<p class="color-mid">Programador Movil y Consultor de seguridad</p>
		                    				
		                    			</div>
		                    		</div>
	                    		</a>
	                    	</div>
	                    </div>   
	                </div>
	            </section>
	            <!-- End Experience Area -->

	            <!-- Start Education Area -->
	            <section class="section education-area ptb-60" id="education_area">
	                <div class="container">
	                    <div class="row mb-20">
	                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center mb-40">
	                            <h2 class="mb-20 font-24 t-uppercase">Educacion</h2>
	                            <p class="color-mid">Información sobre mi carrera y los cursos realizados a lo largo de mi trayectoria como programador.</p>
	                        </div>
	                    </div>
	                    <div class="timeline education-timeline">
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Desarrollo web</h6>
	                    				<p class="color-mid">Curso realizado en Platzi, sobre el desarrollo con tecnologías para el desarrollo web con: HTML5, CSS3, y Javascript</p>
	                    				<a href="https://platzi.com/@fumeromj/html5-css3/diploma/" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2017</span>
                    		</div>
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-md-offset-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Responsive Web Desing</h6>
	                    				<p class="color-mid">Curso realizado en Platzi, este curso se basa en las bases necesarias para realizar una web responsive para dispositivos de distintas resoluciones de pantallas como también para pantallas de retina. </p>
	                    				<a href="https://platzi.com/@fumeromj/responsive-design/diploma/" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2017</span>
                    		</div>
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Diseno de productos con enfoque UX</h6>
	                    				<p class="color-mid">Curso realizado en Platzi, este curso se basa en las bases necesarias para realizar una web responsive para dispositivos de distintas resoluciones de pantallas como también para pantallas de retina. </p>
	                    				<a href="https://platzi.com/@fumeromj/curso/diseno-interfaces-ux/diploma/" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2018</span>
                    		</div>
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-md-offset-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Angular 4</h6>
	                    				<p class="color-mid">Curso enfocado al desarollo aplicaciones Single Page Aplication con Angular 4</p>
	                    				<a href="https://platzi.com/@fumeromj/curso/angular/diploma/" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2018</span>
                    		</div>
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">IONIC 3</h6>
	                    				<p class="color-mid">Curso enfocado al desarrollo de aplicaciones hibridas con el framework IONIC, usando Angular 5 como framework de apoyo JS</p>
	                    				<a href="https://udemy-certificate.s3.amazonaws.com/image/UC-WSAL6OSE.jpg" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2018</span>
                    		</div>
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-md-offset-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Curso de Symfony 3</h6>
	                    				<p class="color-mid">Curso realizado en Udemy, sobre el uso y desarrollo de sistemas de información usando unos de los frameworks más importantes en el mundo de PHP. Symfony</p>
	                    				<a href="https://www.udemy.com/certificate/UC-7FR96OIQ/" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2017</span>
                    		</div>
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Gestión de proyectos con metodologías Ágiles y enfoques Lean.</h6>
	                    				<p class="color-mid">Curso realizado en Miriadax, sobre el enfoque de las metodologías ágiles y las ventajas que nos brindan en el desarrollo de un producto y la administración de su equipo.</p>
	                    				<a href="https://miriadax.net/files/10132/badge/27382717-1a1e-4032-91ab-86ca6b3adffa.pdf" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2017</span>
                    		</div>
                    		<!-- <div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-md-offset-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Curso basico de programacion</h6>
	                    				<p class="color-mid">Curso realizado en Platzi, este curso se basa en lo teorico y practico de tecnologías de programacion en el Backend, Frontend, base datos y arduino.</p>
	                    				<a href="https://platzi.com/@fumeromj/programacion-basica/diploma/" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2017</span>
                    		</div>
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Desarrollo web</h6>
	                    				<p class="color-mid">Curso realizado en Platzi, sobre el desarrollo con tecnologías para el desarrollo web con: HTML5, CSS3, y Javascript</p>
	                    				<a href="https://platzi.com/@fumeromj/html5-css3/diploma/" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2017</span>
                    		</div>
                    		<div class="timeline-block row row-rl-0 mtb-20 mtb-md-10">
                    			<div class="timeline-block-wrapper col-md-6 col-md-offset-6 col-sm-12">
                    				<div class="timeline-content">
	                    				<h6 class="t-uppercase mb-10">Responsive Web Desing</h6>
	                    				<p class="color-mid">Curso realizado en Platzi, este curso se basa en las bases necesarias para realizar una web responsive para dispositivos de distintas resoluciones de pantallas como también para pantallas de retina. </p>
	                    				<a href="https://platzi.com/@fumeromj/responsive-design/diploma/" target="_black" class="verlink">Ver certificado</a>
									</div>
                    			</div>
								<span class="timeline-date">2017</span>
                    		</div> -->
	                    </div>

	                    <div class="t-center" style="padding-top: 5%;">
	                    	<button class="btn btn-lg btn-rounded hire-me-btn"><a routerLink="/cursos" class="" style="color:#fff;">Ver mas</a></button>
	                    </div>
	                </div>
	            </section>
	            <!-- End Education Area -->



	            <!-- Start Contact Us Area -->
	            <section class="section hero-area contact-us-area ptb-60 parallax3" id="contacto">
	            	<div class="container">
	            		<div class="row mb-40">
	                        <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 col-xs-center t-center">
	                            <h2 class="mb-20 font-24 t-uppercase color-white">Contactame</h2>
	                        </div>
						</div>
	            		<div class="row row-tb-15">
							<div class="col-md-6">
								<div class="color-white">
									<h3 class="mb-10 text-center">Contactame via correo electrónico</h3>
									<p class="color-white mb-30">La comunicación contigo es fundamental</p>
									<form id="formulario" method="post">
										<div class="row row-tb-10">
											<div class="col-sm-6">
												<input class="form-control color-white" type="text" placeholder="Nombre" name="nombre" id="contactName">
											</div>
											<div class="col-sm-6">
												<input class="form-control color-white" type="text" placeholder="Correo electronico" name="email" id="contactEmail">
											</div>
											<div class="col-xs-12">
												<input class="form-control color-white" type="text" placeholder="Objetivo" name="objetivo" id="contactSubject">
											</div>
											<div class="col-xs-12">
												<textarea class="form-control color-white" rows="5" placeholder="Escribe tu mensaje" name="mensaje" id="contactMessage"></textarea>
											</div>
											<div class="col-xs-12">
												<button class="btn btn-block" id="botonenviar" type="submit">Enviar mensaje</button>
											</div>
											<div id="resultado" class="t-center"></div>
										</div>
									</form>
								</div>
							</div>
	            			<div class="col-md-5 col-md-offset-1">
								<div class="" style="padding-bottom: 7%;">
									<h3 class="mb-10 text-center">Información de contacto</h3>
									<p class="color-white mb-30">Si quieres contactarme para consultas, asesorías o proyectos que tengas en mente puedes hacerlo por estas vías.</p>
									<ul class="contact-list mb-30">
										<li>
											<!--i class="glyphicon glyphicon-earphone"></i-->
											<h6 class="icon-mail3"> Correo electrónico</h6>
											<p class="color-white "> gabrielgac75@gmail.com</p>
										</li>
										<li>
											<!--i class="glyphicons glyphicons-message-plus"></i-->
											<h6 class="icon-phone"> Telefono</h6>
											<p class="color-white"> (+58) 0412-724-3202</p>
										</li>
										<li>
											<!--i class="glyphicons glyphicons-message-plus"></i-->
											<h6 class="icon-skype"> Skype</h6>
											<p class="color-white"> gabriel_isaias</p>
										</li>
										<li>
											<!--i class="glyphicons glyphicons-message-plus"></i-->
											<h6 class="icon-linkedin"> Linkdin</h6>
											<p class="color-white"> www.linkedin.com/in/gabrielarzola-programador/</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
	            	</div>
	            </section>

			</div>
		</main>
		<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->



    </div>