
<div class="contaienr">

  <div class="text-center" style="padding-top: 4%; padding-bottom: 1%;">
   <h1>Cursos realizados</h1>
    <hr>
    
  </div>

  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://udemy-images.udemy.com/course/750x422/756150_c033_2.jpg" height="300" class="card-img" alt="Angular">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Angular 4</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
</div>
